@charset "UTF-8";

.btn {
	border: none;
	background: transparent;
}

.button_line007  {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 220px;
    padding: 10px 25px;
	color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    background: #eee;
}

.button_line007:hover {
    background: #ebfcfe;
    color: #6bb6ff;
}

.button_line007:before, .button_line007:after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}

.button_line007:before {
  top: 0;
  left: 0;
}

.button_line007:after {
  bottom: 0;
  right: 0;
}

.button_line007:hover:before, .button_line007:hover:after {
  width: 100%;
  height: 100%;
}

.button_line007:hover:before {
  border-top-color: #6bb6ff;
  border-right-color: #6bb6ff;
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.button_line007:hover:after {
  border-bottom-color: #6bb6ff;
  border-left-color: #6bb6ff;
  transition: border-color 0s ease-out 0.2s, width 0.15s ease-out 0.2s, height 0.15s ease-out 0.3s;
}
