@charset "UTF-8";


/* submitボタンを中央に配置 */
input[type="submit"] {
    display: block;
    margin: 0 auto;
}



/* ページ全体のスタイル */
body {
    /* フレックスボックスでコンテンツを配置 */
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* ページの高さをビューポートの高さに合わせる */
    margin: 0 auto;
    /* 幅を指定 */
    width: 750px; /* スマホサイズの幅 */
    height: 1334px; /* スマホサイズの高さ */
    border-left: 5px solid black;
    border-right: 5px solid black;
    aspect-ratio: 9 / 16; /* アスペクト比を設定 */

    /* 背景画像の設定 */
    background-image: url('./IMG/BackgroundTest.png');
    background-repeat: no-repeat;
    background-size: cover; /* 画像を全面に表示 */
    background-position: center center; /* 画像を中央に配置 */
}


/* main要素のスタイル */
main {
    /* フレックス成長を許可し、コンテンツの領域を埋める */
    flex-grow: 1;
    /* コンテンツのスタイルを指定 */
    padding: 20px;
    display: flex;

    align-items: center;
    /* コンテンツのサイズを指定 */
    width: 100%;
}


/* ラジオボタンのスタイル */
input[type="radio"] {
    margin-right: 5px;
}

/* 入力フォームのスタイル */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 5px;
    margin-bottom: 10px;
}


.image-container {
    position: relative; /* 親要素を相対的な位置に設定 */
    display: flex;
    justify-content: center; /* 横方向の中央寄せ */
      width: 100%; /* ビューポートの幅に合わせる */
}

.image-element {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
    animation: slideAndBlink 10s linear infinite;
    animation-direction: reverse;
}

@keyframes slideAndBlink {
    0% {
        transform: translateY(0);
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
     100% {
        transform: translateY(-100vh);
        opacity: 0;
    }
}

