@charset "UTF-8";

/* コースのスタイル */
.course {
	text-align:center;
	width: 600px;
	margin-top: 50px;
	margin-left: 70px;
	font-size: 50px;
	display: inline-block;
	padding: 10px;
	background-color: #020659; /* 好みの背景色に変更してください */
	color: white; /* テキストの色 */
	border: none;
	border-radius: 10px;
	cursor: pointer;
	transition: background-color 0.3s, transform 0.2s;
}

/* ホバー時のスタイル */
.course:hover {
	background-color: #484ca1; /* ホバーエフェクトのための少し異なる色に変更してください */
	transform: scale(1.05);
}


/* ラジオボタンを非表示にする */
.course input[type="radio"] {
	display: none;
}

/* 選択されたラベルの外観をカスタマイズ */
.course label.radio-inline__label {
	position: relative;
	cursor: pointer;
}

