@charset "UTF-8";

body {
	font-family: "Yu Gothic";
	font-size: 25px;
	font-weight: 500; /* 太字にする */
	 color: #222222;
}

/* 特定の要素のスタイル */
p {
    margin: 10px 0;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

#info {
	margin-top: 80px;
    font-size: 30px; /* フォントサイズを適当に指定 */
    font-weight: 550; /* 太字にする */
    text-align: center; /* 中央揃えにする */
    margin-bottom: 10px;
}

#option{
	font-size: 14px; /* フォントサイズを適当に指定 */
    font-weight: bold;

}

.answerText {
	font-size: 100px;

}