@charset "UTF-8";

/* 個別のボタンのスタイル */
.button-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* スタイルを追加 */
.setting-container {
    display: flex;
    position: absolute;
    top: 20px;
    margin-left: 10px;
    width: 6%;
    height: 6%;
}

.course-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 90px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 20px;
	}

	.course-container p {
    margin-bottom: 5px;
}

.course-container select {
    width: 200px; /* プルダウンフォームの幅 */
    height: 30px; /* プルダウンフォームの高さ */
	font-size: 20px;
}