@charset "UTF-8";

/* learningHistoryStyle.css */

#info {
	line-height: 1.0;
}

#info span {
 	font-family: "Yu Gothic";
	font-size: 70px;
	font-weight: 600; /* 太字にする */
	color: #177ae8;
}

/* <div> 要素を中央配置するスタイル */
.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


/* グラフの画像のスタイル */
img.graph {
  width: 500px;
  height: auto; /* 高さは自動調整 */
}

/* フローの画像のスタイル */
img.flow {
  width: 500px; /* 横幅を600ピクセルに固定 */
  height: auto; /* 高さは自動調整 */
}
