@charset "UTF-8";

#info {
	text-align: center;
}

.form-group {
	margin-bottom: 9px;
}

.form-input, .form-label, .form-select {
	margin-left: 165px;
	padding: none;
}

.form-input {
	width: 400px;
	height: 25px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.form-select {
	width: 413px;
	height: 40px;
	border: 2px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px
}

/*ボタン位置*/
.button-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	margin-left: 250px;
	margin-right: 250px;
}

/* ボタンが通常の状態 */
.form-button {
	width: 100px;
	cursor: pointer;
	transition: opacity 0.3s;
}

/* ボタンにマウスを乗せたときのスタイル */
.form-button:hover {
	opacity: 0.8; /* 透明度を下げて少し薄くする */
}

/* ボタンが押されたときのスタイル */
.form-button:active {
	border: none;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* クリック中の影を強調 */
	transform: translateY(5px); /* クリック中の少し下への移動 */
}






